body {
  font-family: 'Segoe UI', sans-serif;
  padding-top: 60px;
  background-color: #fff;
  color: #333;
}

.hero {
  padding: 60px 20px;
  margin-bottom: 40px;
  color: #333; 
  background-color: #f8f9fa; 
  text-align: center; 
}

.pacote-img {
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.card-title {
  font-weight: bold;
}

footer {
  background-color: #222;
  color: #ccc;
}
